*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #668;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
header>h1{
	margin-top: 2%;
	font-size: 5rem;
}
header>div{
	margin-bottom: 5%;
	font-size: 2rem;
}

.calc {
	display: flex;
	width: 72vh;
	height: 61vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

.rows {
	width: 72vh;
	height: 12vh;
	display: flex;
	justify-content: center;
	box-shadow: 10px 7px #557;
}

.num, .opr, .eq, .spl{
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #aaddbb;
	border: 1px solid #113322;
	border-radius: 5%;
	font-size: 3rem;
	font-family: sans-serif, serif;
}

.opr{
	background: #1dd;
	border: 1px solid green;
}

.spl{
	background: #e44;
	border: 1px solid #944;
}

.eq {
	background: #3d5;
	border: 1px solid green;
}

.num:hover{
	background: #89b;
}

.opr:hover {
	background: #6da;
}

.spl:hover {
	background: #d12;
}

.eq:hover {
	background: #1c4;
}

.result{
	width: 72vh;
	height: 12vh;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;

	background: #aaeebb;
	border: 1px solid #113322;
	border-radius: 3%;
	box-shadow: 10px 7px #557;
	overflow: auto;
}

.res{
	font-size: 3rem;
	font-family: sans-serif;
	flex: 1;
	text-align: center;
}


